# Devenv
/.devenv*
/devenv.local.nix

# direnv
/.direnv

# pre-commit
/.pre-commit-config.yaml

# Local VS Code configuration
/.vscode*

# Kernel build artifacts
/*.deb
/*.buildinfo
/*.changes
/.pc

# Output folder
/out
/target
/apps/desktop/node_modules
/apps/desktop/src-tauri/target
/apps/desktop/src-tauri/gen/schemas
/.impeccable/review

# Local environment files
.env
.env.*
!.env.example
